@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&family=Heebo:wght@500&display=swap');
/*-- scss:defaults --*/


/* SCSS HEX */
$cool-gray: #a085bf;
$smoky-black: #140F0Eff;
$hunter-green: #513551;
$viridian: black;
$black-olive: #3A372Dff;

$h1-font-size: 1.8rem;
$h1-font-family: 'Heebo', sans-serif;
$h1-font-weight: 700;
$h2-font-size: 1.5rem;
$h2-font-family: 'Heebo', sans-serif;
$h2-font-weight: 700;

$font-family-sans-serif : 'Anaheim', sans-serif;
$link-color: $black-olive;
$body-color: $smoky-black;
$navbar-bg: $cool-gray;
$toc-active-border: $hunter-green;

.tags li {
  display: inline;
}

.avatar {
  height: 190px;
  width: 190px;
  position: relative;
  margin: -10px 0 0 15px;
  float: right;
  border-radius: 80%;
  object-fit: cover;
  transition: background-color 0.5s ease;
}

.avatar:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.5rem;
  font-family: 'Heebo', sans-serif;
  font-weight: $h1-font-weight;
  color: $black-olive;
}

h2 {
  font-size: 1.1rem;
  font-family: 'Heebo', sans-serif;
  font-weight: $h1-font-weight;
  color: $black-olive;
}

